<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4d585db9-356a-43c3-a1db-b5470aef411e/resourceGroups/SureSafety/providers/Microsoft.Web/sites/SureSafety</ResourceId>
    <ResourceGroup>SureSafety</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://suresafety.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>suresafety.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SureSafety</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SureSafety</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SureSafetyDBModelContainer" Order="1" Enabled="False">
          <Destination Path="Data Source=capstoneprototype.database.windows.net;Initial Catalog=SureSafety_.Net;Persist Security Info=True;User ID=kanumohindra;Password=Sunnydeol1191;Application Name=EntityFramework" Name="Data Source=capstoneprototype.database.windows.net;Initial Catalog=SureSafety_.Net;Persist Security Info=True;User ID=kanumohindra;Password=Sunnydeol1191;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SureSafetyDB.SureSafetyDBModelContainer, SureSafetyDB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SureSafetyDBModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/SureSafetyDBModel.csdl|res://*/SureSafetyDBModel.ssdl|res://*/SureSafetyDBModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=capstoneprototype.database.windows.net;Initial Catalog=SureSafety_.Net;Persist Security Info=True;User ID=kanumohindra;Password=Sunnydeol1191;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>